<!DOCTYPE html>
<html>
<head>
	<title>Grant Norton the Adventurer</title>
	<% content_for :dropdown1, "Grant The Golfer" %>
    <% content_for :dropdown1_route, "golf" %>
    <% content_for :dropdown2, "Grant The Developer" %>
    <% content_for :dropdown2_route, "index" %>
</head>
<body>
	<div class="row">
		<div class="col s12">
			<h1>Adventure Time!</h1>
			<div class="center-align col s4 offset-s2">
				<div style="width:100%;height:0;padding-bottom:69%;position:relative;"><iframe src="https://giphy.com/embed/JoPjeymMjG8Lu" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
			</div>
		</div>
	</div>
</body>
</html>