<!DOCTYPE html>
<html>
<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type="text/javascript">
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.scrollspy').scrollSpy({
          scrollOffset: 100 
        });
        $('.materialboxed').materialbox();
        $('.parallax').parallax();
        
      });
  </script>
    
</head>
<body>
  
  <div id="image" class="parallax-container">
  	<div class="parallax valign-wrapper">
      <img src="http://www.planwallpaper.com/static/images/518151-backgrounds_W3qVPu2.jpg">
      <div class="blur">
       <h1 class="grey-text text-lighten-5">grant norton</h1>
       <h5 clas="grey lighten-4 grey-text text-darken-1">full stack web developer</h5> 
      </div>
    </div>
  </div>
  <div class="outer">
  	<div id="about" class="white container about scrollspy">
    <h5>ABOUT ME</h5>
    <hr>
    <div class="row">
      <div class="col s12">
        <h6 class="center-align">STORY</h6>
        <p>For the past 6 years I have been pursuing a career as a Professional Golfer.  This has taken me all over the U.S. and to 13 different countries all over the world.  Now, it is time for me to pursue a new passion and career in web development.
        I am eager to start on this new path and develop my skills along the way.  I love working in collaborative teams, and hacking away at my personal projects in my spare time.  I have been fortunate enough to attend Coding Dojo, a fully immersive coding boot camp that has given me expansive knowledge of the MEAN stack, Python, and Ruby on Rails. </p>
      </div>
      <h6 class="center-align">PROFILE</h6>
      <div class="col s12 m6 l6">
          <p class="linkedin center-align">LinkedIn</p>
          <div class="center-align"><script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
          <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/grantnicholasnorton" data-format="inline" data-related="false" data-width="100%"></script></div>
      </div>
      <div class='col s12 m6 l6'>
          <p class="github center-align">GitHub</p>
          <div class="center-align"><div class="github-card" data-github="gngolf" data-width="300" data-height="" data-theme="default"></div>
          <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script></div>
      </div>    

      <div id="skills" class="col s12 scrollspy">
        <h6 class="center-align">SKILLS</h6>
        <ul class="collapsible" data-collapsible="expandable">
          <li class="active">
            <div class="collapsible-header tooltipped" data-position="left" data-delay="50" data-tooltip="Click"><i class="mdi-av-web"></i>Languages</div>
            <div class="collapsible-body"><p>JavaScript | Python | Ruby</p></div>
          </li>
          <li>
            <div class="collapsible-header tooltipped" data-position="left" data-delay="50" data-tooltip="Click"><i class="mdi-editor-format-align-justify"></i>Databases</div>
            <div class="collapsible-body"><p>MySQL | MongoDB | PostgreSQL</p></div>
          </li>
          <li>
            <div class="collapsible-header tooltipped" data-position="left" data-delay="50" data-tooltip="Click"><i class="mdi-av-play-shopping-bag"></i>Frameworks</div>
            <div class="collapsible-body"><p>Node.js | Angular.js | Express.js | Django | Flask | Rails</p></div>
          </li>
          <li>
            <div class="collapsible-header tooltipped" data-position="left" data-delay="50" data-tooltip="Click"><i class="mdi-editor-insert-comment"></i>Additional Skills</div>
            <div class="collapsible-body"><p>HTML | CSS  | Jquery | RSpec | Bootstrap | Materialize</p></div>
          </li><li>
            <div class="collapsible-header tooltipped" data-position="left" data-delay="50" data-tooltip="Click"><i class="mdi-editor-insert-comment"></i>Soft Skills</div>
            <div class="collapsible-body"><p>Excellent Communication | Adaptable | Positive Attitude | Team Player | Strong Work Ethic</p></div>
          </li>
        </ul>
      </div>
      </div>
      </div>
      <div class=" col s12 parallax-container">
        <div class=" col s12 parallax course valign-wrapper">
          <img src="assets/course2.png">
          <div class="blur2 quote">
            <h3 class="grey-text text-lighten-5">"The road to success is always under construction."</h3>
            <h5 class="grey-text text-lighten-5">-Arnold Palmer</h5>
          </div>
        </div>
      </div>
      <br>
      <div class="white container">
      <div id="portfolio" class="col s12 scrollspy">
        <h5>PORTFOLIO</h5>
        <hr>
        <p>Below are a couple of examples of my work. Keep in mind, my development career is just getting started so I have a limited number of projects. Please check back down the road to see more examples!</p>
        <br>
        <div class="row">
          <div class="col s12 m12 l12 portfolio-holder">
            <div class="col s12 m6 l6 materialboxed filmSpot" data-caption="SF FilmSpot: San Francisco's film locations. Check out the code here... http://www.github.com/gngolf/FilmLocation"></div>
            <div class="col s12 m6 l6 materialboxed yourPAR" data-caption="yourPAR: Golf Statistics for the Modern Player. Check out the code here... http://www.github.com/gngolf/yourPar"></div>
          </div>
        </div>
      </div>
      </div>
    </div>
</body>
</html>
