@import "materialize/components/color";
$primary-color: color("grey", "darken-3") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.nav-wrapper
{
	padding-left: 20px;
	padding-right: 20px;
    font-family: "Wire One";

}
nav .brand-logo { 
    font-size: 3.5rem;
}

nav li a
{
    font-size: 2.0rem;
}
nav .side-nav li a
{
    font-size: 2.0rem;
}

#image 
{
    background-position: 50%;
    height: 550px;
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 50px;
}
.blur
{
	opacity: 0.5;
    margin: auto;
}

#image h1
{	
	font-size: 180px;
    font-weight: 100;
    font-family: "Wire One";
	font-style: normal;
	font-variant: normal;
	line-height: 72%;
	padding-bottom: 20px;
    

}

#image h5
{
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}
.parallax-container
{
    height: 250px;   
}
.materialboxed
{
    background-size: cover;
    background-position: 50%;
    height: 350px;
   
}
.yourPAR
{
    background-image: url('phone screen.PNG');
    background-size: cover;
    background-position: 50%;
    height: 350px;
}
.filmSpot
{
    background-image: url('computer.PNG');
    background-size: cover;
    background-position: 50%;
    height: 350px;
}

.github
{
    text-decoration: underline;
}
.linkedin
{
    text-decoration: underline;
}

#sidenav-overlay 
{ 
    z-index: 1; 
}
.quote h3
{
    font-style: italic; 
    font-size: 60px;
    font-weight: 100;
    font-family: "Wire One";
    font-variant: normal;
    line-height: 80%;
    padding-bottom: 20px;
}
.course h3
{
    text-align: center;
}
.blur2
{
    opacity: 0.8;
    margin: auto;
}
.portfolio-holder
{
    margin-bottom: 70px;
}

#dropdown1 a
{
    font-size: 24px;
}







